
:root {
  --main-blue: #4a8bab;
  --main-blue-light: #d6eaf3;
  --main-blue-dark: #28627f;  
  --main-white: #f4f4f4;
  --main-black: #333;  
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--main-white);
  color: var(--main-black);
}
header,
footer {
  background: var(--main-blue);
  color: white;
  padding: 1em;
  text-align: center;
}
main {
  padding: 2em;
  margin: auto;
  background: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}
h1 {
  color: white;
  font-size: 2.5em;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1em;
}
h2,
h3 {
  color: var(--main-blue);
}
hr{
  border: 1px solid var(--main-blue-light);
}
section {
  margin-bottom: 2em;
}
ul {
  padding-left: 1.5em;
}
img {
  max-width: 50%;
  height: 300px;
  object-fit: cover;
  border-radius: 1em;
}
.data-box {
  background-color: var(--main-blue-light);
  border-left: 5px solid var(--main-blue-dark);
  padding: 1em;
  margin: 1em 0;
}
.img-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
}
#curiositats {
  grid-row: span 2;
  grid-column: span 2;
  background-color: var(--main-blue);
  padding: 1em 1em;
  border-radius: 1em;
}
#curiositats > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: start;
}
#curiositats > div > article {
  flex: 1 1 30%;
  padding: 1em;
  max-width: 29%;
  height: 100%;
  background-color: #fff;
}
#quefem {
  color: var(--main-blue);
  background-color: var(--main-blue);
  padding: 1em;
  border-radius: 1em;
  & article {
    padding: 1em;
    background-color: #fff;
  }
}
#riscos {
  grid-column: span 2;
  color: white;
  background-color: var(--main-blue);
  padding: 1em;
  border-radius: 1em;
  display : flex;
  justify-content: space-around;
  & article {
    width: 25%;
    border-left: 5px solid #ffffff;
    padding: 1em;
    & h2 {
      color:white;
    }
  }
}
